{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
    <h2>Cambiar Contraseña</h2>

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }} {# Renderiza todos los campos del formulario con crispy forms #}
                
                <button type="submit" class="btn btn-primary mt-3">Guardar Contraseña</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary mt-3 ms-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}